@squareL: 80px;

.aws-cube {
  position: relative;
  margin: 0 auto;
  width: @squareL;
  height: @squareL;
  transform-style: preserve-3d;
  .aws-cube-shape {
    position: relative;
    width: @squareL;
    height: @squareL;
    transform-style: preserve-3d;
    div {
      position: absolute;
      width: @squareL;
      height: @squareL;
      border: 1px solid white;
      background-color: #999;
      opacity: .5;
      overflow: hidden;
      /*transition: transform 1s;*/
      transition: transform 1s;
      transition-delay: 0s;
      &.front {
        transform: translateZ(@squareL/2);
      }
      &.right {
        transform: rotateY(90deg) translateZ(@squareL/2);
      }
      &.back {
        transform: rotateY(180deg) translateZ(@squareL/2);
        span {
          font-size: 36px;
        }
      }
      &.left {
        transform: rotateY(270deg) translateZ(@squareL/2);
      }
      &.top {
        transform: rotateX(90deg) translateZ(@squareL/2);
      }
      &.bottom {
        transform: rotateX(270deg) rotateY(0deg) translateZ(@squareL/2);
      }
      span {
        display: block;
        color: black;
        text-decoration: none;
        text-align: center;
        
        width: @squareL;
        height: @squareL;
        line-height: @squareL;

        font-size: 14px;
        cursor: pointer;
      }
      img {
        height: @squareL;
        width: @squareL;
      }
    }

    
  }
  
  &.cube-opened {
    .aws-cube-shape {
      .front, .right, .back, .left, .top, .bottom {
        transition: transform 1s;
        transition-delay: 1s;
        &:hover {
          opacity: 1;
        }
      }
      .front {
        transform: translateZ(@squareL);
      }
      .right {
        transform: rotateY(0deg) translate3d(@squareL, 0, @squareL);
      }
      .back {
        transform: rotateY(0deg) translate3d(2*@squareL, 3*@squareL, @squareL);
        &:hover {
          text-shadow: 0 0 5px rgb(255,0,0);
        }
      }
      .left {
        transform: rotateY(0deg) translate3d(@squareL, 2*@squareL, @squareL);
      }
      .top {
        transform: rotateX(0deg) translate3d(@squareL, @squareL, @squareL);
      }
      .bottom {
        transform: rotateY(0deg) translate3d(@squareL, 3*@squareL, @squareL);
      }
    }
  }
  
  &.spin {
    .aws-cube-shape {
      animation: spin 1s linear;
    }
  }

  &.roll-left {
    .aws-cube-shape {
      animation: rollLeft 0.5s linear;
    }
  }

  &.roll-right {
    .aws-cube-shape {
      animation: rollRight 0.5s linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes rollLeft {
  from {
    transform: rotateZ(-180deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes rollRight {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes movebg {
   from {
     background-position: 0%;
   }
   to { 
     background-position: 187%;
   }
}

@keyframes grow {
   from {
     height: 0px;
   }
   to { 
     height: 300px;
   }
}

/*aws-cube-shape.cube-opened {
  .front {
    transform: translateZ(@squareL);
  }
  .right {
    transform: rotateY(90deg) translateZ(@squareL);
  }
  .back {
    transform: rotateY(180deg) translateZ(@squareL);
  }
  .left {
    transform: rotateY(270deg) translateZ(@squareL);
  }
  .top {
    transform: rotateX(90deg) translateZ(@squareL);
  }
  .bottom {
    transform: rotateX(270deg) rotateY(0deg) translateZ(@squareL);
    span:before {
      content: '';
      position: absolute;
      bottom: @squareL;
      display: flex;
      width: @squareL;
      height: 300px;
      background-color: rgba(20,20,20,0.5);
      background-color: #026873;
      background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
                        linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
                        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
                        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
      background-size: 13px, 29px, 37px, 53px;
      opacity: 0.8;
      animation: movebg linear 3s infinite, grow linear 1s;
    }
  }
}*/