<div class="aws-cube">
	<div class="aws-cube-shape" ng-click="vm.activateCube()">
		<div class="front">
			<span>{{vm.content.title}}</span>
		</div>

		<div class="right">
			<span ng-click="vm.showFront=false">{{vm.content.description}}</span>
		</div>

		<div class="top" ng-click="vm.clickShot(0)" ng-class="{ 'expand': vm.activeShot===0 }">
			<img ng-if="vm.content.shots[0]" ng-src="{{'assets/images/experimentsRenders/' + vm.content.shots[0] +'_light.png'}}">
		</div>

		<div class="left" ng-click="vm.clickShot(1)" ng-class="{ 'expand': vm.activeShot===1 }">
			<img ng-if="vm.content.shots[1]" ng-src="{{'assets/images/experimentsRenders/' + vm.content.shots[1] +'_light.png'}}">
		</div>

		<div class="bottom" ng-click="vm.clickShot(2)" ng-class="{ 'expand': vm.activeShot===2 }">
			<img ng-if="vm.content.shots[2]" ng-src="{{'assets/images/experimentsRenders/' + vm.content.shots[2] +'_light.png'}}">
		</div>

		<div class="back">
			<span ng-click="vm.exitFn(); $event.stopPropagation();">&#10006;</span>
		</div>
	</div>
</div>